@import '../../../../colors';
@import '../../../../util';

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  *:first-child {
    margin-top: 0;
  }
  *:last-child {
    margin-bottom: 0;
  }
  & > * {
    flex-shrink: 0;
  }
}
