<article>
  <section>
    <h1>How To Contribute</h1>
    <hr>
    <p>If you have mappings that would extend the existing classification systems in this repository (located in the <code>mappings</code> directory) you can add your mappings to the appropriate file by following contributing to an existing classification system guidelines. For adding mappings to a classification system that doesn't already exist in this repository, please follow contributing to a new classification system.</p>
  </section>
  <section>
    <h2>Contributing To An Existing Classification System</h2>
    <hr>
    <p>In order to add your mappings to an existing classification system, please follow these steps:</p>
    <ol>
      <li>Fork this repository</li>
      <li>In your fork, locate the mappings file for the classification system you want to contribute to inside <code>mappings</code> directory (e.g. AMCO in Dutch is <code>amco_nl.csv</code>), if the classification system is not listed or is listed in other languages, please follow contributing to a new classification system</li>
      <li><strong>Append the new mappings to the file</strong>, not leaving any columns out (write your organization/own name in the <code>contributor</code> column)</li>
      <li>Commit your changes to your fork and <strong>make a pull request</strong> to this repository for a review</li>
    </ol>
  </section>
  <section>
    <h2>Contributing To A New Classification System</h2>
    <hr>
    <p>If you want to add mappings for a new classification system, please follow these steps:</p>
    <ol>
      <li>Fork this repository</li>
      <li>In your fork, add a Markdown file in the <code>descriptions</code> directory and name it according to your classification system's name in lowercase (e.g. AMCO: <code>amco.md</code> if in English or <code>amco_nl.md</code> if in Dutch)</li>
      <li><strong>Add your mappings</strong> in the <code>mappings</code> directory in lowercase following this format: <code>name_lang.csv</code> (the language abbreviation should follow the <a target="_blank" href="https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes">ISO 639-1 standard</a>)</li>
      <li>Make sure you <strong>use UTF-8</strong> for the mappings file's encoding</li>
      <li>
        At minimum, <strong>provide the following columns</strong>
        <table>
          <thead>
            <tr>
              <th>literal</th>
              <th>code</th>
              <th>standard</th>
              <th>contributor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>The mapping literal</td>
              <td>The classification code</td>
              <td>The standard term which the literal is mapped to (defined by the classification)</td>
              <td>Your organization/own name</td>
            </tr>
          </tbody>
        </table>
      </li>
      <li>If any other columns should be included (e.g. Province column in AMCO is included to eliminate ambiguity) include them after the <code>contributor</code> column (since this matter is subjective, we'll give you a feedback in the pull request when we review your mappings file)</li>
      <li>Finally, commit your changes to your fork and <strong>make a pull request</strong> to this repository for a review</li>
    </ol>
  </section>
</article>
