@import '../../../util';
@import '../../../colors';

// Responsive brand header
header .brand.closed {
  width: rem(100px) !important;
  min-width: rem(100px) !important;
  max-width: rem(100px) !important;
  svg.minimal {
    display: block !important;
  }
  svg.large {
    display: none !important;
  }
}

app-header {
  display: flex;
  width: 100%;
  height: rem(90px);
}

header {
  width: 100%;
  height: rem(90px);
  display: flex;
  background-color: map-get($palette, color-gray-lightest);
  box-shadow: 0 3px 20px map-get($palette, color-drop-shadow);
  z-index: 100;
  .brand {
    display: flex;
    overflow-x: hidden;
    align-items: center;
    width: rem(375px);
    min-width: rem(375px);
    max-width: rem(375px);
    height: 100%;
    background-color: map-get($palette, color-accent-light);
    transition: width .2s ease-in-out, min-width .2s ease-in-out, max-width .2s ease-in-out;
    svg {
      height: 60%;
      margin-left: rem(30px);
      flex-shrink: 0;
    }
    svg.minimal {
      display: none;
    }
    &.active {
      cursor: pointer;
    }
  }
  nav {
    width: 100%;
    padding: 0 rem(30px);
    display: flex;
    .nav-item {
      height: 100%;
      font-size: rem(24px);
      text-transform: uppercase;
      color: map-get($palette, color-accent);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      user-select: none;
      cursor: pointer;
      outline: none;
      span {
        height: 100%;
        display: flex;
        align-items: center;
        margin: 0 rem(30px);
      }
      .active-bar {
        width: 0%;
        height: rem(3px);
        margin-top: rem(-3px);
        background-color: map-get($palette, color-accent);
        transition: width .2s ease-in-out;
      }
      &.active .active-bar {
        width: 100%;
      }
    }
  }
}
