<h1>What Happens After</h1>
<hr>
<p>After you make a contribution, we'll review your work and give you a feedback if any changes are needed. If everything looks fine, we'll accept your pull request and add your signature (the value of your <code>contributor</code> field) to our contributors list. Your work will then be integrated into the application's database in a few days and other researchers will be able to reuse your work while seeing your signature next to any mappings contributed by you.</p>
