@import '../util';

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.main-container {
  display: flex;
  height: calc(100% - #{rem(90px)});
}

app-menu.active,
app-menu.active * {
  cursor: pointer !important;
}
