<article>
  <section>
    <h1>When To Contribute</h1>
    <hr>
    <p>We do our best to map your literals to the available classification systems based on the previously shared work of other researchers. This means the more researchers share their work with us through <a href="https://github.com/classifyer/classifyer-data" target="_blank">our Github data repository</a>, the better your output will become. This could mean introducing a new classification system, adding new mappings to existing classifications or suggesting corrections on existing mappings.</p>
    <p>We encourage you to share mappings of any size (however domain specific or small they are) with others. Since introducing new mappings in the system would spare some researchers the pain of going through their literals and connecting them manually, and also accelerate their data preparation process significantly.</p>
    <p>Your signature (e.g. name) will be carried out in the matching results of any researcher using your contributions through the platform and will also be listed on our <a href="https://github.com/classifyer/classifyer-data" target="_blank">data repository</a> and the <a routerLink="/about">about page</a>, giving you full credits for the work you have contributed.</p>
    <p>The <a routerLink="/contribute/how-to-contribute">next section</a> covers all the details of the contribution process.</p>
  </section>
</article>
