$palette: (
  color-accent: #496DAA,
  color-accent-light: #4E74B5,
  color-gray-lighter: #FFFFFF,
  color-gray-light: #FAFAFA,
  color-gray-medium: #C4CAD5,
  color-gray: #A1A6AE,
  color-drop-shadow: rgba(0, 0, 0, .13)
);
