$palette: (
  color-accent: #496DAA,
  color-accent-light: #4E74B5,
  color-experimental: linear-gradient(#496DAA, #007eff),
  color-gray-light-transparent: rgba(255, 255, 255, .1),
  color-gray-transparent: rgba(255, 255, 255, .75),
  color-gray-lighter: #FFFFFF,
  color-gray-light: #FAFAFA,
  color-gray-medium: #C4CAD5,
  color-gray: #A1A6AE,
  color-drop-shadow: rgba(0, 0, 0, .13)
);
