@import 'util';
@import 'colors';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: map-get($palette, color-gray-lighter);
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

// Container bottom padding fix for overflow-y
@-moz-document url-prefix() {
  app-application::after,
  app-about::after,
  app-contribute::after {
    content: '';
    padding-top: rem(50px);
    display: block;
  }
  app-application,
  app-about,
  app-contribute {
    scrollbar-color: map-get($palette, color-accent-light-transparent) map-get($palette, color-accent-lightest-transparent);
    scrollbar-width: thin;
  }
}

app-application,
app-about,
app-contribute {
  &::-webkit-scrollbar {
    width: rem(5px);
  }
  &::-webkit-scrollbar-track {
    background: map-get($palette, color-accent-lightest-transparent);
  }
  &::-webkit-scrollbar-thumb {
    background: map-get($palette, color-accent-lighter-transparent);
    &:hover {
      background: map-get($palette, color-accent-light-transparent);
    }
  }
}

h1 {
  font-size: rem(28px);
  text-transform: uppercase;
  margin: 0;
  color: map-get($palette, color-accent);
}

h2 {
  font-size: rem(22px);
  text-transform: uppercase;
  margin: 0;
}

hr {
  width: 100%;
  height: rem(1px);
  border: none;
  background-color: map-get($palette, color-gray-medium);
}

.btn-group {
  width: 100%;
  display: flex;
  & > *:not(:last-child) {
    margin-right: rem(15px);
  }
  &.btn-group-centered {
    justify-content: center !important;
  }
  &.btn-group-stretch > * {
    width: 100%;
  }
}

button.btn {
  padding: rem(15px) rem(25px);
  text-align: center;
  text-transform: uppercase;
  border-radius: rem(3px);
  border: none;
  cursor: pointer;
  font-size: rem(18px);
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
  outline: none;
  &.btn-primary {
    background-color: map-get($palette, color-accent);
    color: map-get($palette, color-gray-lightest);
    &:not(:disabled):hover {
      background-color: map-get($palette, color-accent-light);
    }
    &:disabled {
      color: map-get($palette, color-gray-lighter-transparent);
    }
  }
  &.btn-secondary {
    background-color: map-get($palette, color-gray-medium-light);
    color: map-get($palette, color-gray-darkest);
    &:not(:disabled):hover {
      background-color: map-get($palette, color-gray-light);
    }
    &:disabled {
      color: map-get($palette, color-gray-dark-transparent);
    }
  }
  &.btn-danger {
    background-color: map-get($palette, color-danger);
    color: map-get($palette, color-gray-lightest);
    &:not(:disabled):hover {
      background-color: map-get($palette, color-danger-light);
    }
    &:disabled {
      color: map-get($palette, color-gray-lighter-transparent);
    }
  }
  &:disabled {
    cursor: default;
  }
  &.btn-block {
    width: 100%;
  }
}

textarea {
  min-height: rem(300px);
  border-radius: rem(3px);
  padding: rem(10px);
  font-family: 'Roboto', sans-serif;
  font-size: rem(14px);
  resize: none;
  outline: none;
  border: 1px solid map-get($palette, color-gray-medium);
  transition: border-color .2s ease-in-out;
  &:not(:disabled):hover {
    border-color: map-get($palette, color-accent);
  }
  &:disabled {
    background-color: map-get($palette, color-gray-light);
  }
}

select {
  appearance: none;
  min-height: rem(30px);
  font-family: 'Roboto', sans-serif;
  font-size: rem(18px);
  padding: rem(10px) rem(45px) rem(10px) rem(20px);
  border-radius: rem(3px);
  cursor: pointer;
  outline: none;
  border: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  background-color: map-get($palette, color-accent);
  background-image: url('data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNDE3LjMgMTQxNy4zIj48cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMTM4Ny4zLDQ3MS4ybC02MDQuOSw2MTguOWMtNDAuNiw0MS41LTEwNy4zLDQxLjUtMTQ3LjksMEwyOS43LDQ3MS4yYy02NC02NS41LTE3LjYtMTc1LjcsNzMuOS0xNzUuN2gxMjA5LjhDMTQwNC45LDI5NS41LDE0NTEuMyw0MDUuNywxMzg3LjMsNDcxLjJ6Ii8+PC9zdmc+');
  background-repeat: no-repeat;
  background-size: rem(15px);
  background-position: right #{rem(20px)} top 50%;
  transition: background-color .2s ease-in-out;
  color: map-get($palette, color-gray-lightest);
  &:not(:disabled):hover {
    background-color: map-get($palette, color-accent-light);
  }
  &:disabled {
    cursor: default;
    background-color: map-get($palette, color-gray-medium-light);
    background-image: url('data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNDE3LjMgMTQxNy4zIj48cGF0aCBmaWxsPSIjQTFBNkFEIiBkPSJNMTM4Ny4zLDQ3MS4ybC02MDQuOSw2MTguOWMtNDAuNiw0MS41LTEwNy4zLDQxLjUtMTQ3LjksMEwyOS43LDQ3MS4yYy02NC02NS41LTE3LjYtMTc1LjcsNzMuOS0xNzUuN2gxMjA5LjhDMTQwNC45LDI5NS41LDE0NTEuMyw0MDUuNywxMzg3LjMsNDcxLjJ6Ii8+PC9zdmc+');
    color: map-get($palette, color-gray-darkest);
  }
}
