<div class="container" [ngClass]="{ loading: loading && currentTab === 'mapping' }">
  <ng-template [ngIf]="currentTab === 'mapping'">
    <ng-lottie *ngIf="loading" [options]="lottieConfig" width="50px" height="50px">
    </ng-lottie>
    <ng-template [ngIf]="! loading">
      <div class="category-container" *ngFor="let group of menuData">
        <span class="category-title">{{ group.category.name }}</span>
        <span class="classification"
        *ngFor="let dictionary of group.dictionaries"
        [ngClass]="{ active: activeDictionary === dictionary.id, enabled: enabled }"
        (click)="activateDictionary(dictionary.id, $event)">
          <span class="classification-name">{{ dictionary.name }}</span>
          <span class="classification-lang">{{ dictionary.language }}</span>
        </span>
      </div>
    </ng-template>
  </ng-template>
  <ng-template [ngIf]="currentTab === 'contribute'">
    <div class="menu-container">
      <span class="menu-title">Contribute</span>
      <span class="menu-item" routerLinkActive="active" routerLink="/contribute/when-to-contribute">
        <span class="menu-item-name">When to contribute</span>
      </span>
      <span class="menu-item" routerLinkActive="active" routerLink="/contribute/how-to-contribute">
        <span class="menu-item-name">How to contribute</span>
      </span>
      <span class="menu-item" routerLinkActive="active" routerLink="/contribute/what-happens-after">
        <span class="menu-item-name">What happens after</span>
      </span>
    </div>
  </ng-template>
  <ng-template [ngIf]="currentTab === 'about'">
    <div class="menu-container">
      <span class="menu-title">About</span>
      <span (click)="menuLinkClicked($event)" class="menu-item" routerLinkActive="active" routerLink="/about/team">
        <span class="menu-item-name">Our Team</span>
      </span>
      <span (click)="menuLinkClicked($event)" class="menu-item" routerLinkActive="active" routerLink="/about/contact">
        <span class="menu-item-name">Contact</span>
      </span>
    </div>
  </ng-template>
</div>
