@import '../../../colors';
@import '../../../util';

// Responsive menu
:host.closed {
  width: rem(100px) !important;
  min-width: rem(100px) !important;
  max-width: rem(100px) !important;
}
:host.closed .category-container {
  opacity: 0 !important;
}

::-webkit-scrollbar {
  width: rem(5px);
}

::-webkit-scrollbar-track {
  background: map-get($palette, color-gray-light-transparent);
}

::-webkit-scrollbar-thumb {
  background: map-get($palette, color-gray-lighter-transparent);
  &:hover {
    background: map-get($palette, color-gray-lightest-transparent);
  }
}

:host {
  display: flex;
  flex-direction: column;
  width: rem(375px);
  min-width: rem(375px);
  max-width: rem(375px);
  height: 100%;
  background: map-get($palette, color-experimental);
  transition: width .2s ease-in-out, max-width .2s ease-in-out, min-width .2s ease-in-out;
  * {
    flex-shrink: 0;
  }
}

// Container bottom padding fix for overflow-y
@-moz-document url-prefix() {
  .container::after {
    content: '';
    padding-top: rem(30px);
    display: block;
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: rem(30px);
  box-sizing: border-box;
  overflow-y: auto;
  scrollbar-color: map-get($palette, color-gray-lighter-transparent) map-get($palette, color-gray-light-transparent);
  scrollbar-width: thin;
  &.loading {
    align-items: center;
    justify-content: center;
  }
  .category-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    user-select: none;
    opacity: 1;
    transition: opacity .2s ease-in-out;
    .category-title {
      font-size: rem(28px);
      margin-top: rem(20px);
      margin-bottom: rem(10px);
      color: map-get($palette, color-gray-transparent);
      text-transform: uppercase;
      text-overflow: ellipsis;
      overflow-x: hidden;
      white-space: nowrap;
    }
    .classification {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: rem(10px) rem(20px);
      box-sizing: border-box;
      font-size: rem(20px);
      color: map-get($palette, color-gray-lightest);
      text-transform: uppercase;
      border-radius: rem(3px);
      background-color: transparent;
      transition: background-color .2s ease-in-out;
      &.enabled {
        cursor: pointer;
        &:hover {
          background-color: map-get($palette, color-gray-light-transparent);
        }
      }
      &.active .classification-name {
        font-weight: bold;
      }
      .classification-name {
        text-overflow: ellipsis;
        overflow-x: hidden;
        white-space: nowrap;
        width: 100%;
        flex-shrink: 1;
      }
      .classification-lang {
        font-size: rem(12px);
        font-weight: bold;
        background-color: map-get($palette, color-gray-lightest);
        color: map-get($palette, color-accent);
        border-radius: rem(20px);
        padding: rem(3px) rem(8px);
        margin-left: rem(10px);
      }
    }
  }
}
