@import '../../../colors';
@import '../../../util';

:host {
  width: 100%;
  padding: rem(50px) rem(30px);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  *:first-child {
    margin-top: 0;
  }
  *:last-child {
    margin-bottom: 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  max-width: rem(800px);
  width: 100%;
  &.center {
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  &.v-fill {
    height: 100%;
  }
  & > * {
    flex-shrink: 0;
  }
}

@media(max-width: 1230px) {

  .container {
    max-width: 100%;
  }

}

.classification-header {
  display: flex;
  align-items: center;
  svg {
    width: rem(22px);
    height: rem(33px);
    margin-right: rem(10px);
    cursor: pointer;
    path {
      fill: map-get($palette, color-gray-dark);
      transition: fill .2s ease-in-out;
    }
    &:hover path {
      fill: map-get($palette, color-accent);
    }
  }
  h1 {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
  }
}

.logo-container {
  height: 100%;
  width: 100%;
  min-height: rem(300px);
  margin-bottom: rem(25px) !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

svg.logo {
  height: auto;
  width: rem(350px);
}

span.slogan {
  font-size: rem(24px);
  color: map-get($palette, color-gray-darkest);
  text-transform: uppercase;
  margin-top: rem(20px);
}

.csv-headers-container {
  margin: rem(20px) 0;
  display: flex;
  align-items: center;
  .csv-headers-label {
    margin-right: rem(20px);
  }
  select.csv-headers {
    width: 100%;
    max-width: rem(320px);
  }
}

.dropbox {
  display: flex;
  align-items: center;
  width: 100%;
  border: rem(3px) dashed map-get($palette, color-gray-medium);
  border-radius: rem(5px);
  padding: rem(20px);
  box-sizing: border-box;
  font-size: rem(20px);
  color: map-get($palette, color-gray-darkest);
  user-select: none;
  cursor: pointer;
  transition: color .2s ease-in-out, border-color .2s ease-in-out;
  span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    width: 100%;
  }
  svg.close-btn {
    width: rem(25px);
    height: rem(25px);
    min-width: rem(25px);
    min-height: rem(25px);
    path {
      transition: fill .2s ease-in-out;
      fill: map-get($palette, color-gray-darkest);
    }
    &:hover path {
      fill: map-get($palette, color-danger-light);
    }
  }
  &:hover:not(.disabled),
  &.active:not(.disabled) {
    color: map-get($palette, color-accent);
    border-color: map-get($palette, color-accent-light);
    svg.icon path {
      fill: map-get($palette, color-accent);
    }
  }
  &.disabled {
    cursor: default;
  }
  lottie-animation-view {
    margin-right: rem(20px);
  }
  svg.icon {
    height: rem(40px);
    width: rem(40px);
    min-height: rem(40px);
    min-width: rem(40px);
    margin-right: rem(20px);
    path {
      fill: map-get($palette, color-gray-darkest);
      transition: fill .2s ease-in-out;
    }
  }
}

.btn-group {
  margin-top: rem(20px);
  &.btn-group-medium {
    max-width: rem(600px);
  }
}

span.matching-message {
  color: map-get($palette, color-gray-darkest);
  font-size: rem(28px);
  text-align: center;
}

span.matching-message-bold {
  color: map-get($palette, color-accent);
  font-weight: bold;
}

.matching-animation {
  margin-bottom: rem(40px);
}

.animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: rem(20px);
}

.description-container {
  display: flex;
  flex-direction: column;
  position: relative;
  .description {
    width: 100%;
    overflow-y: hidden;
    &:not(.expanded) {
      max-height: rem(90px);
      user-select: none;
    }
  }
  .description-fade {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, map-get($palette, color-gray-lighter), rgba(255, 255, 255, 0.01));
  }
}

.expand-description {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  span {
    color: map-get($palette, color-accent);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    padding: rem(10px);
    padding-top: 0;
    transition: color .2s ease-in-out;
    &:hover {
      color: map-get($palette, color-accent-light);
    }
  }
}
