<h1>When To Contribute</h1>
<hr>

<p>Have you used mapping tools (such as ...) to map your literals to standard terms in a classification system? Did it take a lot of time to do all that work? Well, you can spare other researchers the pain by sharing your mappings with us. We'll host and integrate your mappings alongside thousands of other ones into our app and make it available for everyone to reuse in a matter of seconds!</p>

<h1>How To Contribute</h1>
<hr>

<p>If you have mappings that would extend the existing classification systems in this repository (located in the <code>mappings</code> directory) you can add your mappings to the appropriate file by following contributing to an existing classification system guidelines. For adding mappings to a classification system that doesn't already exist in this repository, please follow contributing to a new classification system.</p>

<h1>Contributing To An Existing Classification System</h1>
<hr>

<p>In order to add your mappings to an existing classification system, please follow these steps:</p>
<ol>
  <li>Fork this repository</li>
  <li>In your fork, locate the mappings file for the classification system you want to contribute to inside <code>mappings</code> directory (e.g. AMCO in Dutch is <code>amco_nl.csv</code>), if the classification system is not listed or is listed in other languages, please follow contributing to a new classification system</li>
  <li><strong>Append the new mappings to the file</strong>, not leaving any columns out (write your organization/own name in the <code>contributor</code> column)</li>
  <li>Commit your changes to your fork and <strong>make a pull request</strong> to this repository for a review</li>
</ol>

<h1>Contributing To A New Classification System</h1>
<hr>

<p>If you want to add mappings for a new classification system, please follow these steps:</p>
<ol>
  <li>Fork this repository</li>
  <li>In your fork, copy <code>descriptions/template.md</code> and rename it according to your classification system's name in lowercase (e.g. AMCO: <code>amco.md</code>)</li>
  <li>Following the description template, <strong>write a thorough description</strong> for the classification system in English (Markdown is supported)</li>
  <li><strong>Add your mappings</strong> in the <code>mappings</code> directory in lowercase following this format: <code>name_lang.csv</code> (the language abbreviation should follow the <a href="https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes">ISO 639-1 standard</a>)</li>
  <li>Make sure you <strong>use UTF-8</strong> for the mappings file's encoding</li>
  <li>At minimum, <strong>provide the following columns</strong>: literal, code, standard, contributor</li>
  <li>If any other columns should be included (e.g. Province column in AMCO is included to eliminate ambiguity) include them after the <code>contributor</code> column (since this matter is subjective, we'll give you a feedback in the pull request when we review your mappings file)</li>
  <li>Finally, commit your changes to your fork and <strong>make a pull request</strong> to this repository for a review</li>
</ol>

<h1>What Happens After</h1>
<hr>

<p>After you make a contribution, we'll review your work and give you a feedback if any changes are needed. If everything looks fine, we'll accept your pull request and add your signature (the value of your <code>contributor</code> field) to our contributors list. Your work will then be integrated into the application's database in a few days and other researchers will be able to reuse your work while seeing your signature next to any mappings contributed by you.</p>
